@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');



* {
   
   background-color: rgb(255, 255, 255);
  font-family: 'Pixelify Sans', sans-serif;
  color: #000000;
}



.night {

background-color: rgb(0, 0, 0);
color: #ffffff;
 font-family: 'Pixelify Sans', sans-serif;
 
}

#modeBtn{
gap: 20px;
  border-radius: 8px;
color: #f8f8f8;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
     

  background-color: #1a1a1a;
  cursor: pointer;
  font-family: 'Pixelify Sans', sans-serif;
 
}

button:hover {
   
  transform: scale(1.1);
}

#title-container {
 
text-align: center;
}

#button-container {

          text-align: center;
}

#content-container{

text-align: center;

}

#imgs {
 
  display: flex;
  gap: 60px;
  justify-content: center;
 

}
 